---
- name: Check if /storage/longhorn directory exists
  stat:
    path: "{{ longhorn_storage_path }}"
  register: longhorn_dir

- name: Create /storage/longhorn directory if it doesn't exist
  file:
    path: "{{ longhorn_storage_path }}"
    state: directory
    mode: '0700'
    owner: root
    group: root
  when: not longhorn_dir.stat.exists
